<mat-sidenav-container class="example-container" fullscreen>
  <mat-sidenav mode="side" opened [fixedInViewport]="true">
    <app-sidenav [objeniousDevices]="objeniousDevices" (objeniousDevicesUpdated)="onObjeniousDevicesUpdated($event)" [balizDevices]="balizDevices" (balizDevicesUpdated)="onBalizDevicesUpdated($event)"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--<app-map [devices]="selectedDevices"></app-map>-->
    <app-exotic-charts></app-exotic-charts>
  </mat-sidenav-content>
</mat-sidenav-container>
