<mat-sidenav-container class="example-container" fullscreen>
  <mat-sidenav mode="side" opened [fixedInViewport]="true">
    <app-sidenav [objeniousDevices]="objeniousDevices" (objeniousDevicesUpdated)="onObjeniousDevicesUpdated($event)" [balizDevices]="balizDevices" (balizDevicesUpdated)="onBalizDevicesUpdated($event)"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-map [objeniousDevices]="selectedObjeniousDevices" [balizDevices]="selectedBalizDevices"></app-map>
  </mat-sidenav-content>
</mat-sidenav-container>
